body {
    height: 100%;
}

.allImages {
    width: 800px;
}
.leftImage {
    float: left;
    width: 350px;
}

.rightImage {
    float: left;
    width: 350px;
}

.clear {
    clear: left;
}

.sideBySidePhotos {
    height: 800px;
}

.comparePhotos {
    position: absolute;
}

.comparePhotosActions {
    position: absolute;
    bottom: 16px;
}